:root{
    font-style:italic;
   font-weight:bold; 
   font-family:'Cormorant Garamond', serif;

   
  
}
body{
    background-image: url("images/bg.jpg");
   background-size: cover;
   
}

#navbarId{
    background-color:black;
    font-size:25px;
    color: antiquewhite;
    display:flex;
   
}

#navbarId a{
    margin: 0 0 0 25px;
    padding:10px;
    color: antiquewhite;

} 

#navbarId a:hover{
    color:khaki;
    text-decoration: underline;
}

.heading{
    text-align: center;
    color:#da8a60;
    font-size:70px;
    font-style:italic;
    font-weight:bold; 
    font-family:'Cormorant Garamond', serif; 
    text-shadow: 4px ​8px 8px  teal;

}
.form{
    
    padding:10px;
}

.form label{
    font-size:25px;
}

.form input{
    font-size:20px;
    border-radius:15px;
    border:15px;
}

.form .btn{
    margin:10px;
}

.btn{
    border:2px solid black;
    font-size:20px;
    border-radius:5px;
    margin:10px;
}

/*contact page*/
.social{
    margin:10px;
}

.social img{
    width: 100px;
    height: 100px;
    margin: 22px;
}

.contact ul li{
    list-style: circle;
    font-size: 25px;

}

/*about page*/

.about{
    margin:10px;
}

/*shoes page*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
                  }
                  
.price {
        color: rgb(12, 67, 126);
        font-size: 22px;
        }
                  
 .row {
        display: flex;
        padding: 10px 4px;
        }
                  
  /* Create two equal columns that sits next to each other */
.column {
         flex: 25%;
         padding: 0 4px;
         }
                  
.column img {
             height: 200px;;
             margin-top: 8px;
             vertical-align: middle;
}   
.card :hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4); 
}